.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  height: 100vh;
}

.contact-header {
  font-size: 25px;
  color: #dcdcdc;
  margin: 40px 20px 20px;
}

.contact-wrapper p {
  font-size: 18px;
  color: #dcdcdc;
  margin: 3px;
}

.contact {
  background-image: linear-gradient(#1565c0, #5e92f3);
  color: #ffffff;
  padding: 5px 10px;
  text-decoration: none;
  margin: 25px;
}

.contact:hover {
  background-image: linear-gradient(#ff4081, #ff79b0);
}

.submit-button {
  text-decoration: none;
  border: none;
}
