.genre-wrapper {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.genre-header {
  color: #ffffff;
  font-size: 23px;
  margin: 15px 5px 20px;
}

.genre-description h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin: 20px 5px 5px;
  color: #ffffff;
}

.genre-description p {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  margin: 5px;
  color: #ffffff;
}

.genre-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change-vid {
  text-decoration: none;
  border: none;
  margin: 10px 10px;
  background-image: linear-gradient(#1565c0, #5e92f3);
  color: #ffffff;
  border: 2px solid #5e92f3;
  text-decoration: none;
  margin: 8px;
  padding: 2px 10px;
  font-size: 14px;
  width: 80px;
}

.change-vid:hover {
  background-image: linear-gradient(#c60055, #ff4081);
  border: 2px solid #c60055;
}

.love-button {
  background-color: transparent;
  background-image: url('./images/lightblue-heart.svg');
  background-size: 100% 100%;
  border: none;
  height: 27px;
  width: 30px;
  margin: 0px 8px;
}

.love-button:hover {
  background-image: url('./images/lightpink-heart.svg');
}

.love-button-active {
  background-image: url('./images/darkpink-heart.svg');
}

.button-wrapper {
  display: flex;
  align-items: center;
  margin: 10px 5px 15px;
}
