.enter-logo {
  color: #FFFFFF;
  z-index: 2;
  position: relative;
  top: 80px;
  margin: 20px;
  text-align: center;
  background-color: transparent;
  width: 500px;
}

.enter-logo h1 {
  font-size: 55px;
  font-weight: 500;
  margin: 20px 5px 5px;
}

.enter-logo h3 {
  font-size: 35px;
  margin: 20px 20px 20px 100px;
}

.splash-video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.enter-logo h1, .enter-logo h3 {
  -webkit-animation:colorchange 6s infinite alternate;
}

@-webkit-keyframes colorchange {
     0% {
       color: #c60055;
     }
     12% {
       color: #ff4081;
     }
     26% {
       color: #FFFFFF;
     }
     40% {
       color: #1565c0;
     }
     48% {
       color: #003c8f;
     }
     60% {
       color: #1565c0;
     }
     72% {
       color: #FFFFFF;
     }
     88% {
       color: #ff4081;
     }
     100% {
       color:#FFFFFF;
     }
   }



