.genre-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000000;
  margin-top: 80px;
  max-width: 880px;
  margin: 30px auto;
}

.genre-card {
  width: 220px;
  height: 115px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#ff4081, #5e92f3);
  text-decoration: none;
}

.genre-card:hover {
  background-image: linear-gradient(#c60055, #1565c0);
}

.genreName {
  color: #ffffff;
  font-size: 20px;
}

