.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.not-found h1 {
  color: #ffffff;
  font-size: 30px;
  -webkit-animation:colorchange 20s infinite alternate;
}
