@import url('./styles/App.css');
@import url('./styles/Navigation.css');
@import url('./styles/Main.css');

@import url('./styles/reset.css');

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


