@import url('./styles/App.css');
@import url('./styles/Navigation.css');


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.splash-video {
  position: fixed; 
  z-index: -99; 
  width: 100%; 
  height: 100%
}
