@import url('./styles/reset.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500|Rock+Salt');
@import url('./styles/navigation.css');
@import url('./styles/home.css');
@import url('./styles/learn.css');
@import url('./styles/genres.css');
@import url('./styles/about.css');
@import url('./styles/contact.css');
@import url('./styles/favorites.css');
@import url('./styles/notfound.css');

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

h1, h3 {
  font-family: 'Rock Salt', sans-serif;
}


